#navbarSupportedContent.collapse.navbar-collapse
  if process.env.isProd
    style.
      .parsys-helper .cq-Editable-dom.new.newpar.section {
        width: 100px;
        margin:0px;
      }
      .parsys-helper .parbase {
        display:none;
      }
      .my-parsys-navbar-nav p {
        margin-bottom: 0px;
      }
      .my-parsys-navbar-nav .cq-placeholder {
        min-width: 100px;
        height: auto;
      }
    ul.navbar-nav.mr-auto.my-parsys-navbar-nav(data-sly-test="${ item.name == 'my-parsys' }")
      li.nav-link.parsys-helper
        span(data-sly-resource="${ 'navbarNav' @ resourceType='/libs/wcm/foundation/components/parsys' }")
        sly(data-sly-list='${resource.listChildren}')
          li.nav-link(
            data-sly-test="${item.name == 'navbarNav' }" 
            data-sly-repeat="${item.listChildren}" 
          )
            sly(data-sly-resource="${item.path}")
  else
    
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          i.fa.fa-home
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link
