div(
  is='${component.name}-${resource.name}-${resource.parent.name}' 
  data-component-path="${component.path}"
  :image-link-config='imageLinkConfig ? imageLinkConfig : {}'
)
  a.navbar-brand(
    href='#' 
    @click='XTImageLinkClicked();'
  )
    img(src='https://placehold.it/40/fff/000?text=${properties.logoText}')
