div(
  is='${component.name}-${resource.name}-${resource.parent.name}'
  :image-link-config='imageLinkConfig ? imageLinkConfig : {}'
)
  a(
    class='${currentStyle.linkCSSClasses}' 
    href='${properties.href}' 
    @click='XTImageLinkClicked();'
  )
    img(
      class='${currentStyle.imgCSSClasses}' 
      src='https://placehold.it/${currentStyle.imgWidth}x${currentStyle.imgHeight}/fff/000?text=${properties.logoText}'
    )
    | {{ imageLinkConfig.greet }}
