if process.env.isProd
  //- The NavbarNav Parsys
  sly(data-sly-test='${wcmmode.edit}')
    div.container
      div.col-3
        h4.bg-primary.text-white.p-2 NavbarNav Parsys
        div(data-sly-resource="${ 'navbarnav' @ resourceType='/libs/foundation/components/parsys' }")

//- NAVBAR
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  if  process.env.isProd
    a.navbar-brand(href='#')
      span(data-sly-resource="${ 'logo' @ resourceType='/libs/wcm/foundation/components/image' }")
  else 
    
    a.navbar-brand(href="#")
      span Navbar
  //- COLLAPSE BUTTON
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  //- NAVBAR NAV
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      sly(data-sly-list='${resource.listChildren}')
        li.nav-item(data-sly-test="${item.name == 'navbarnav' }", data-sly-repeat='${item.listChildren}')
          a.nav-link(href='#') Link 1
