if process.env.isProd
  div(data-sly-test="${currentStyle}")
    div.container
      sly(data-sly-use.xtcontainer='${currentStyle.path}')
        div(class='${currentStyle.containerCSSClasses}', data-sly-test='${xtcontainer}')
          sly(data-sly-test='${xtcontainer.hasChildren}', data-sly-list='${xtcontainer.listChildren}')
            sly(data-sly-test="${item.name == 'divElements'}", data-sly-list='${item.listChildren}')
              div(class='${item.cssClass}')
                sly(data-sly-resource="${ item.name @ resourceType='wcm/foundation/components/responsivegrid' }")
  div(
    class="container border border-info p-5" 
    data-sly-test="${!currentStyle}"
  )
    span.badge.badge-info.p-2 Please update Policy for ${resource.name}
    
else
  
  div.container
    div.row
      div.col-3.p-0 Hello
