if process.env.isProd
  a(
    is="${component.name}-${resource.name}-${resource.parent.name}" 
    class="${currentStyle.linkCSSClasses || 'navbar-brand'}"
    href="${properties.href || 'https://www.google.com'}"
    @click='imageLinkClicked();'
  )
    img(
      class="${currentStyle.imgCSSClasses || 'border-primary rounded-pill'}"
      src="https://placehold.it/${currentStyle.imgWidth || 120}x${currentStyle.imgHeight || 40}/000/fff?text=${properties.logoText || 'GOOGLE'}"
    )

else 
  
    a(
      is="image-link"
      class="navbar-brand"
      href="#"
      @click="imageLinkClicked();"
    )
      img(
        class="border border-primary d-block"
        src="https://www.placehold.it/120"
    )
