if process.env.isProd
  a(
    is="${component.name}-${resource.name}-${resource.parent.name}" 
    class="${currentStyle.linkCSSClasses}"
    href="${properties.href || '#'}"
    @click='imageLinkClicked();'
    data-sly-test="${currentStyle}"
  )
    img(
      class="${currentStyle.imgCSSClasses}"
      src="https://placehold.it/${currentStyle.imgWidth}x${currentStyle.imgHeight}/000/fff?text=${properties.logoText}"
    )
    
  div(
    class="container border border-info p-5" 
    data-sly-test="${!currentStyle}"
  )
    span.badge.badge-info.p-2 Please update Policy for ${resource.name}
else 
  
    a(
      is="image-link"
      class="navbar-brand"
      href="#"
      @click="imageLinkClicked();"
    )
      img(
        class="border border-primary d-block"
        src="https://www.placehold.it/120"
    )
