doctype html
head
  meta(charset='utf-8')
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  )
  title AEM FE Dev App
body
  include play
//-
  div.container.mt-2
    h1.text-center.bg-primary.text-white.p-2 AEM FE DEV APP
    span.badge.badge-primary.p-2 Hello
    //- TAB lIST
    ul#aemItems.nav.nav-tabs(role='tablist')
      li.nav-item
        a#experienceTabItem.nav-link.active(
          data-toggle='tab'
          href='#experienceTab' 
          role='tab'
          aria-controls='experience' 
          aria-selected='true'
        ) Experiences
      li.nav-item
        a#componentsTabItem.nav-link(
          data-toggle='tab'
          href='#componentsTab'
          role='tab'
          aria-controls='componentsTab'
          aria-selected='false'
        ) Authorable Components
      li.nav-item
        a#vueComponentsTabItem.nav-link(
          data-toggle='tab'
          href='#vueComponentsTab'
          role='tab'
          aria-controls='contact'
          aria-selected='false'
        ) Non Authorable Components
    
    //- TABS
    div#aemItemsTabItem.tab-content
      div#experienceTab.tab-pane.fade.show.p-2.active(role='tabpanel', aria-labelledby='experienceTab') 
        include table-of-items
      
      div#componentsTab.tab-pane.fade(role='tabpanel', aria-labelledby='componentsTab') Authorable Components
      div#vueComponentsTab.tab-pane.fade(role='tabpanel', aria-labelledby='vueComponentsTab') Vue Non Authorable Components
