template(data-sly-template.tmpl='${ @ resourcePath }', data-sly-use.logo='${currentPage.path}/jcr:content/${resourcePath}')
  a.navbar-brand(
    href="${logo.href  @ extension='html'}" 
    data-av-component='global/LogoAuthor'
  )
    img(src='${logo.imgSrc}')
    |
    template#vueTemplate
      include vueTemplate
    |
    sly(data-sly-use.clientlib='/libs/granite/sightly/templates/clientlib.html')
      sly(data-sly-call="${clientlib.css @ categories='aemarch13.LogoAuthor'}")
      sly(data-sly-call="${clientlib.js @ categories='aemarch13.LogoAuthor'}")
